html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #333333;
    line-height: 1.6;
    padding-top:17vh;  /*增加頂部填充以避免內容被頭部遮擋 */
    background-color: #f5f5f5; /* 溫暖的淺灰色 */
}

h1, h2, h3, h4{
    font-weight: bold;
    margin-top: 20px;
    color: #0056b3; /* 顏色可按照主題調整 */
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

p {
    font-size: 18px;
    margin-bottom: 15px;
}

.card {
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw ; /* 減少內填充，使其更細 */
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: fixed; /* 固定在頂部 */
    top: 0; /* 位於頁面的最頂端 */
    width: 100vw; /* 計算寬度以避免被滾動條遮擋 */
    z-index: 1000; /* 確保它在頁面的最上層 */
}

.logo img {
    height: 100px; /* 增加图片高度 */
    width: auto;
}

.clickable-logo:hover {
    cursor: pointer;
}

button {
    font-size: 16px; /* 或更大 */
    padding: 10px 20px; /* 上下10px，左右20px */
    margin: 0 10px; /* 左右各10px的間距 */
    border: none;
    background-color: #f8f8f8;
}

.button {
    display: flex;
    justify-content: center;
    list-style-type: none; /* 移除默認的列表樣式 */
}

.button button{
    cursor: pointer;
}

.center-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}


.contact {
    text-align: right;
}

.contact a {
    margin-left: 10px;
    color: #007bff; /* Bootstrap primary blue for links */
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

.section-containerA {
    position: relative;
    top:5vh;
    display: flex; /* 啟用 Flexbox 佈局 */
    flex-direction: column; /* 子元素垂直排列 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    margin: auto; /* 上下保持原邊距，左右自動調整 */
    padding: 0 20px; /* 增加左右內填充 */
}

.section-containerA img {
    height: 20vh;
    width: 30vw;
    /* 移除原有定位屬性，因為 Flexbox 將處理居中 */
}

.section-containerB {
    position: relative;
    top: 20px;
    max-width: 90vw; /* 或根據您的設計需求調整 */
    margin: 0 auto; /* 上下保持原邊距，左右自動調整 */
    padding: 0 20px; /* 增加左右內填充 */
}

.section-containerB img{
    height: 300px;
    width: auto; 
}

/* 下拉選單樣式 */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #034CA7;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* 添加一些樣式使下拉選單和按鈕對齊 */
.dropbtn {
    background-color: #f8f8f8;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #f8f8f8;
}


.carousel-control-prev-icon {
    margin: -10vh 0 0 -5vw ;
    height: 100px;
    width: 100px;
    background-image: image-set('../image/left-arrow.png');
}
.carousel-control-next-icon {
    margin: -10vh -5vw 0 0 ;
    height: 100px;
    width: 100px;
    background-image: image-set('../image/right-arrow.png');
}

.carousel-item img {
    margin-top: -10vh;
}

.carousel-indicators [data-bs-target]{
background-color: #000;
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav li {
        margin: 5px 0;
    }

    .contact {
        text-align: left;
    }
}